@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}
* {
    padding:0;
    margin: 0;
    font-size: 1em;

}

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
    font-variant: small-caps;
}

header a, footer a {
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration:underline ;
}

section {
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagen {
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    box-shadow: inset 6px 6px 0px rgba(0, 0, 0, 0.334);
    background-size: cover;
    background-attachment: fixed;

}

section.imagen p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.211);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.616);


}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}